.root {
    position: fixed;
    width: 0;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 254px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    z-index: 99;
    transition: 0.3s ease-in-out;

    & nav {
        width: 100%;
        margin-top: 13rem;
        margin-left: 3.2rem;

        & ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        & ul li a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2.7px;

            & span:nth-of-type(2) {
                margin-left: 1.1rem;
            }
        }
    }
}

.isActive {
    width: 60%;
}

.closeBtn {
    border: none;
    position: absolute;
    right: 26px;
    top: 33px;
    width: fit-content;
    background-color: transparent;
}
