@font-face {
    font-family: 'Barlow Condensed'; /* Specify the desired font-family name */
    src: url('../../public/fonts/BarlowCondensed-Regular.ttf')
        format('truetype'); /* Replace 'your-font-file.ttf' with your font file name and path */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Barlow; /* Specify the desired font-family name */
    src: url('../../public/fonts/Barlow-Regular.ttf') format('truetype'); /* Replace 'your-font-file.ttf' with your font file name and path */
}

@font-face {
    font-family: Bellefair; /* Specify the desired font-family name */
    src: url('../../public/fonts/Bellefair-Regular.ttf') format('truetype'); /* Replace 'your-font-file.ttf' with your font file name and path */
}
